body {
	margin: 0px;
	padding: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:10pt;
	color: #202020;
}
/*
 * #354B81 Mech
 * #35815B Edit
 */
table{
	font-size:10pt;
}
hr{
	color: #455e85;
}
thead td{
	color: black;
	font-weight:bold;
	border-bottom: solid #455e85;
}
#header {
	height: 30px;
	width: 740px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	margin-right: auto;
	margin-left: auto;
}
#header h1 {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
}


#wrapper {
	min-height: 475px;
	width: 766px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/top.jpg);
	background-repeat: no-repeat;
	margin-top: 9px;
	padding-top: 10px;
	background-position: center top;
}
#content {
	width: 766px;
	min-height: 410px;
	display:block;
}
#footer {
	background-image: url(images/footer.jpg);
	height: 65px;
	width: 766px;
	text-align: center;
	font-size: 12px;
	padding-top: 15px;
	background-repeat: no-repeat;
	color: #ffffff;
}
#footer p {
	color: #ffffff;
}
#footer a {
	text-decoration: none;
	color: #ffffff;
}
#footer a:hover {
	text-decoration: underline;
}
span#white {
	color: #104186;
}

#topnav {
	width: 425px;
	height: 40px;
	display: block;
}
#topnav ul {
	height: 26px;
	width: 100%;
	list-style-image: none;
	list-style-type: none;
	margin-top: 0px;
	padding-left:10px;
	float: right;
}
#topnav ul li {
	height: 26px;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-right: 10px;
	font-weight: bold;
}

#topnav ul li a {
	display: block;
	text-align: center;
	height: 20px;
	line-height: 14px;
	text-decoration: none;
	color: #ffffff;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	float: left;
	padding-top: 5px;
	font-weight: bold;
}
	#topnav ul li a:hover {
	color: #104186;
	background-color: #ffffff;
	
}
#topnav ul li a.active {
	color: #ffffff;
	background-color: #104186;
}
#maincontent {
	width: 500px;
	float: right;
	margin-right: 10px;
	height: 700px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #104186;
	margin-bottom: 2px;
	display: block;
}
a {
	color: #104186;
}
#creativecommons {
	visibility: hidden;
}


#links ul {
	list-style-type: none;
	padding: 0px;
	width: 200px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #104186;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#links ul li {
	list-style-type: none;
}
#links ul li a {
	text-decoration: none;
	color: #104186;
	display: block;
	height: 20px;
	margin-top: 4px;
}
#links ul li a:hover {
	text-decoration: none;
	background-color: #EBEBEB;
}
#links ul li a.active {
	color: #008B98;
}


h1, h2, h3{
	color: #104186;
	margin-top: 3px;
}
#menu {
	float: left;
	width: 200px;
	margin-left: 10px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #104186;
	height: 20px;
}
#links {
	height: 280px;
	width: 200px;
}
.clickField{
	cursor:  pointer;;
	font-weight: bold;
}
.editRegion{
	background-image: url(images/editpane.jpg);
	background-position: top;
	background-repeat: no-repeat;
	padding:5px;
	margin:5px;
	color: #ffffff;
}
.editRegion h3{
	color: #ffffff;
}
